<div class="loginBg min-vh-100">
  <div class="container shadow-lg">
    <div class="row box no-gutter bg-white p-1 px-sm-4">
      <div class="col">
        <h1 class="login-header text-center my-2">Portfolio</h1>
        <form [formGroup]="portfolioSignIn">
          <fieldset>
            <legend>Personal Details</legend>
            <div class="row">
              <div class="col-12 col-sm-8">
                <div class="form-group">
                  <label>Name*</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter your name"
                    [ngClass]="{'error' : portfolioSignIn.controls.name.errors, 'success' : !portfolioSignIn.controls.name.errors}">
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <label>Date of Birth*</label>
                  <input type="date" class="form-control" formControlName="dateOfBirth"
                    placeholder="Enter your date of birth" [max]="maxiDate"
                    [ngClass]="{'error' : portfolioSignIn.controls.dateOfBirth.errors, 'success' : !portfolioSignIn.controls.dateOfBirth.errors}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Personal Image Url*</label>
                  <input type="text" class="form-control" formControlName="imageUrl"
                    placeholder="Enter the Public Image Url"
                    [ngClass]="{'error' : portfolioSignIn.controls.imageUrl.errors, 'success' : !portfolioSignIn.controls.imageUrl.errors}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Designation*</label>
                  <input type="text" class="form-control" formControlName="designation"
                    placeholder="Enter the Designation"
                    [ngClass]="{'error' : portfolioSignIn.controls.designation.errors, 'success' : !portfolioSignIn.controls.designation.errors}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>About*</label>
                  <quill-editor [styles]="{height:'300px'}" [modules]="editModule" placeholder="Enter About You. "
                    formControlName="about">
                  </quill-editor>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Email*</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter the Email"
                    [ngClass]="{'error' : portfolioSignIn.controls.email.errors, 'success' : !portfolioSignIn.controls.email.errors}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Phone Number* <small>(Max 2)</small></label>
                  <div class="row" formArrayName="phoneNumber"
                    *ngFor="let phone of portfolioSignIn.get('phoneNumber')['controls'];let i=index;">
                    <div class="col-10 col-sm-11">
                      <div class="form-group">
                        <input type="number" class="form-control" [formControlName]="i"
                          placeholder="Enter {{i+1}} Phone Number"
                          [ngClass]="{'error' : portfolioSignIn.controls.phoneNumber['controls'][i].errors, 'success' : !portfolioSignIn.controls.phoneNumber['controls'][i].errors}">
                        <small class="form-text text-muted">
                          Your Mobile Number first digit must be from 6 to 9 and of 10 digits
                        </small>
                      </div>
                    </div>
                    <div class="col-2 col-sm-1">
                      <button type="button" class="btn btn-danger btn-sm rounded-circle" *ngIf="i!==0"
                        (click)="removePhoneNumber(i)">
                        <i class="fa fa-minus text-white"></i>
                      </button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click)="addPhoneNumber()"
                    [hidden]="portfolioSignIn.get('phoneNumber')['controls'].length>=2">
                    Add Phone Number
                  </button>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Education Details <small>(Max 3)</small></legend>
            <div formArrayName="timelineDataEducation">
              <div class="card mb-2" [formGroupName]="i"
                *ngFor="let education of portfolioSignIn['controls'].timelineDataEducation['controls']; let i=index;">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <div>Education {{i+1}}</div>
                  <button type="button" class="btn btn-danger btn-sm" *ngIf="i!==0"
                    (click)="removeEducationFields(i)">Remove</button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-8">
                      <div class="form-group">
                        <label>Name of Institute*</label>
                        <input type="text" class="form-control" formControlName="name_of_institute"
                          placeholder="Enter the Name of Institute"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].name_of_institute.errors, 'success' : !portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].name_of_institute.errors}">
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="form-group">
                        <label>Year*</label>
                        <input type="number" class="form-control" formControlName="year" placeholder="Enter the year"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].year.errors, 'success' : !portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].year.errors}">
                        <small class="form-text text-muted">
                          Years from 1000 to 2999
                        </small>
                      </div>
                    </div>
                    <div class="col-12 col-sm-8">
                      <div class="form-group">
                        <label>Course Name*</label>
                        <input type="text" class="form-control" formControlName="course" placeholder="Enter course name"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].course.errors, 'success' : !portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].course.errors}">
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="form-group">
                        <label>Result*</label>
                        <input type="number" class="form-control" formControlName="result"
                          placeholder="Enter result in percentage"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].result.errors, 'success' : !portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].result.errors}">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label>Location*</label>
                        <input type="text" class="form-control" formControlName="location"
                          placeholder="Enter the location"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].location.errors, 'success' : !portfolioSignIn.controls.timelineDataEducation['controls'][i]['controls'].location.errors}">
                      </div>
                    </div>
                    <div class="col-sm-1">

                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary btn-sm" (click)="addEducationFields()"
                [hidden]="portfolioSignIn.get('timelineDataEducation')['controls'].length>=3">Add
                Education</button>
            </div>
          </fieldset>

          <fieldset>
            <legend>Projects</legend>
            <div formArrayName="projects">
              <div class="card mb-2" [formGroupName]="i"
                *ngFor="let project of portfolioSignIn['controls'].projects['controls']; let i=index;">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <div>Project {{i+1}}</div>
                  <button type="button" class="btn btn-danger btn-sm small" (click)="removeProjectsFields(i)"
                    *ngIf="i!==0">Remove</button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Project Name*</label>
                        <input type="text" class="form-control" formControlName="projectName"
                          placeholder="Enter the Project Name"
                          [ngClass]="{'error' : portfolioSignIn.controls.projects['controls'][i]['controls'].projectName.errors, 'success' : !portfolioSignIn.controls.projects['controls'][i]['controls'].projectName.errors}">
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label>Project Image Url*</label>
                        <input type="text" class="form-control" formControlName="imagePath"
                          placeholder="Enter the Project Image Url"
                          [ngClass]="{'error' : portfolioSignIn.controls.projects['controls'][i]['controls'].imagePath.errors, 'success' : !portfolioSignIn.controls.projects['controls'][i]['controls'].imagePath.errors}">
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label>Technology*</label>
                        <input type="text" class="form-control" formControlName="technology"
                          placeholder="Enter the Technology"
                          [ngClass]="{'error' : portfolioSignIn.controls.projects['controls'][i]['controls'].technology.errors, 'success' : !portfolioSignIn.controls.projects['controls'][i]['controls'].technology.errors}">
                      </div>
                    </div>

                    <div class="col-12">
                      <label>Project Description*</label>
                      <div class="row mb-2" formArrayName="projectDescription"
                        *ngFor="let description of portfolioSignIn.controls.projects['controls'][i]['controls'].projectDescription['controls']; let k=index;">
                        <div class="col-10 col-sm-11">
                          <input type="text" class="form-control" [formControlName]="k"
                            placeholder="Enter the desription {{k+1}}"
                            [ngClass]="{'error' : portfolioSignIn.controls.projects['controls'][i]['controls'].projectDescription['controls'][k].errors, 'success' : !portfolioSignIn.controls.projects['controls'][i]['controls'].projectDescription['controls'][k].errors}">
                        </div>
                        <div class="col-2 col-sm-1">
                          <button type="button" class="btn btn-danger btn-sm rounded-circle" *ngIf="k!==0"
                            (click)="removeProjectDescription(i,k)">
                            <i class="fa fa-minus text-white"></i>
                          </button>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary btn-sm" (click)="addProjectDescription(i)">
                        Add more
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-sm" (click)="addProjectFields()">Add Project</button>
          </fieldset>

          <div class="row mt-4">
            <div class="col-12">
              <div class="form-group">
                <input type="checkbox" id="isExperienced" class="mr-2 mt-4" formControlName="isExperience"
                  (change)="toggleIsExperience()"
                  [ngClass]="{'error' : portfolioSignIn.controls.isExperience.errors, 'success' : !portfolioSignIn.controls.isExperience.errors}">
                <label class="form-label" for="isExperienced">Experienced?</label>
              </div>
            </div>
          </div>

          <fieldset *ngIf="portfolioSignIn.get('isExperience').value" class="mt-0">
            <legend>Experiences</legend>
            <div formArrayName="timelineDataExperience">
              <div class="card mb-2" [formGroupName]="i"
                *ngFor="let experience of portfolioSignIn['controls'].timelineDataExperience['controls']; let i=index;">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <div>Experience {{i+1}}</div>
                  <button class="btn btn-danger btn-sm" (click)="removeExperienceFields(i)"
                    *ngIf="i!==0">Remove</button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-8">
                      <div class="form-group">
                        <label>Company Name*</label>
                        <input type="text" class="form-control" formControlName="company_name"
                          placeholder="Enter the Company Name"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].company_name.errors, 'success' : !portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].company_name.errors}">
                      </div>
                    </div>

                    <div class="col-12 col-sm-4">
                      <div class="form-group">
                        <label>Designation*</label>
                        <input type="text" class="form-control" formControlName="designation"
                          placeholder="Enter the designation"
                          [ngClass]="{'error' : portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].designation.errors, 'success' : !portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].designation.errors}">
                      </div>
                    </div>
                    <ng-container formGroupName="duration">

                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>Duration From*</label>
                          <input type="date" class="form-control" formControlName="durationFrom"
                            placeholder="Enter the Duration From" [max]="maxiDate"
                            (change)="onDurationFromChange($event,i)"
                            [ngClass]="{'error' : portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].duration['controls'].durationFrom.errors, 'success' : !portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].duration['controls'].durationFrom.errors}">
                        </div>
                        <!-- -->

                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <div class="d-flex justify-content-between align-items-center">
                            <label>Duration To*</label>
                            <label>
                              <input type="checkbox" (change)="onChangeCurrentlyWorking($event,i)"> Is Currently
                              Working?
                            </label>
                          </div>
                          <input type="date" class="form-control" formControlName="durationTo"
                            [hidden]="!showExperienceCurrentTo" placeholder="Enter the Duration To" [max]="maxiDate"
                            [min]="minDate"
                            [ngClass]="{'error' : portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].duration['controls'].durationTo.errors, 'success' : !portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].duration['controls'].durationTo.errors}">
                        </div>
                      </div>
                    </ng-container>


                    <div class="col-12">
                      <label>Description*</label>
                      <div class="row mb-2" formArrayName="description"
                        *ngFor="let description of portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].description['controls'];let j=index;">
                        <div class="col-10 col-sm-11">
                          <input type="text" class="form-control" [formControlName]="j"
                            placeholder="Enter the desription {{j+1}}"
                            [ngClass]="{'error' : portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].description['controls'][j].errors, 'success' : !portfolioSignIn.controls.timelineDataExperience['controls'][i]['controls'].description['controls'][j].errors}">
                        </div>
                        <div class="col-2 col-sm-1">
                          <button type="button" class="btn btn-danger btn-sm rounded-circle" *ngIf="j!==0"
                            (click)="removeExperienceDescription(i,j)">
                            <i class="fa fa-minus text-white"></i>
                          </button>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary btn-sm" (click)="addExperienceDescription(i)">
                        Add more
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-sm" (click)="addExperienceFields()">Add Experience</button>
          </fieldset>

          <div class="text-center mt-4 mb-2">
            <button type="button" class="btn btn-primary px-4" (click)="onSubmit()"
              [disabled]="!portfolioSignIn.valid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
