<div class="row">
    <div class="col-sm-12">
      <form [formGroup]="portfolioSignIn">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="text" formControlName="dateOfBirth">
        </div>
        <!-- <button (click)="addPhoneNumber()">Add phone Number</button> -->
        <label>phone Number</label>
        <div>
          <div class="form-group">
            <input type="text" formControlName="phoneNumber">
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email">
        </div>
        <button (click)="onSubmit()" [disabled]="!portfolioSignIn.valid">submit</button>
      </form>
    </div>
  </div>
  