<app-header></app-header>
<div class="card hero">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <img [src]="detailsUser.imageUrl" alt="KAVISH" class="imgPersonal">
            </div>
            <div class="col-sm-6 mt-2">
                <h6>
                    Hello Everybody, I am
                </h6>
                <h2>
                    {{detailsUser.name}}
                </h2>
                <p>{{detailsUser.designation}}</p>
                <p>
                  {{detailsUser.about}}
                </p>
                <div class="mt-5">
                    <p>
                        <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
                       {{detailsUser.dateOfBirth}}
                    </p>
                    <p><i class="fa fa-phone mr-2" aria-hidden="true"></i>{{detailsUser.phoneNumber[0]}}</p>
                    <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>{{detailsUser.email}}</p>
                </div>
                <div class="mt-5">
                    <a href="https://www.instagram.com" target="_blank" class="mr-2">
                        <img src="../../assets/insta.jpeg" class="logo">
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="../../assets/facebook.png" class="logo">
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>