<app-header></app-header>
<div class="card hero">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <img [src]="detailsUser.imageUrl" alt="KAVISH" class="imgPersonal">
      </div>
      <div class="col-sm-6 mt-2">
        <h6>
          Hello Everybody, I am
        </h6>
        <h2>
          {{detailsUser?.name ? detailsUser?.name:'-'}}
        </h2>
        <p>{{detailsUser?.designation ? detailsUser?.designation:'-'}}</p>
        <p [innerHTML]="detailsUser?.about ? detailsUser?.about :'-'">
        </p>
        <div class="mt-5">
          <p>
            <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
            {{detailsUser?.dateOfBirth ? detailsUser?.dateOfBirth : '-'}}
          </p>
          <p><i class="fa fa-phone mr-2" aria-hidden="true"></i>
            <span *ngFor="let phone of detailsUser.phoneNumber;let i=index;">
              {{phone}}<small *ngIf="i===0">,</small>
            </span>
          </p>
          <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>{{detailsUser?.email ? detailsUser?.email:'-'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
